*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

.top-header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.top-header ul{
    display: flex;
    gap: 25px;
    padding: 10px 50px;
    font-size: medium;
    
}
.top-header ul {
    
.inter-<uniquifier> {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
}
.bottom-header{

    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}
.bottom-header ul{
    display: flex;
    gap: 25px;
    font-size: medium;
    
}
.bottom-header ul li{
.saira-<uniquifier> {
    font-family: "Saira", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
}
,.bottom-header right-buttons button{
background-color: transparent;
border: none;
font-size: medium;
}
.bottom-header ul li{
    text-transform: uppercase;
}